<div id=D__ID>
    <div>
        <a target="_blank" style="color:#fff" href="https://www.vmiis.com">https://www.vmiis.com</a>
    </div>
    <script>
        //------------------------------------
        $vm.footer_ready=1;
        //------------------------------------
    </script>
    <style>
        #footer a{
            color: #fff;
        }
        #footer{
            height:24px;
            overflow: hidden;
            color: #fff;
            background-color: #333;
            font-size:100%;
            text-align: center;
        }
        @media screen and (max-width: 1200px){
            #footer{  }
        }
    </style>
</div>
