<div id=D__ID>
    <div id=page__ID>
        <div style='text-align: center;padding-bottom:20px'>
            <p class=title__ID>
                ABOUT US
            </p>
            <hr class=hr__ID>
        </div>
        <div class=row>
            <div class=col-md-6>
                <p class=p1__ID>
                    The About page is the core description of your website. 
                    Here is where you let clients know what your website is about.
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Praesent dignissim feugiat tellus, vitae vehicula nunc fermentum at. 
                    Nulla ut leo tincidunt turpis tincidunt facilisis vel sit amet nisl. 
                    Duis odio mauris, ornare vitae est eget, molestie aliquet quam. 
                    Quisque sed lacus sodales consectetur quis a mauris. Ut quis ipsum egestas, 
                    molestie augue id, lobortis neque. Sed malesuada id justo nec accumsan. 
                    Curabitur non tempus ligula, ut congue libero. Morbi mattis, neque at feugiat rutrum, 
                    ipsum massa iaculis risus, ut rutrum justo purus et urna. Aenean semper ornare enim, 
                    maximus tincidunt ante tincidunt sed. Fusce imperdiet id tellus molestie laoreet.
                </p>
            </div>
            <div class="col-md-6 order-first order-md-last" style='padding-bottom:20px;'>
                <img src="https://images.unsplash.com/photo-1554051694-cf22f476cc13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" class='img-fluid' alt="">
            </div>
        </div>
    </div>
    <script>
    </script>
    <style>
   		#D__ID{
			height:100%;
			animation: vm_module_fadein 1.0s;
            background-color: #fff;
		}
        #page__ID{
            padding:90px 10px;
            margin:0 auto;
            max-width:1200px;
        }
        .title__ID{
            font-size:32px;
        }
        .hr__ID{
            max-width: 50px;
            border-color: #019875;
            border-width: 3px;
        }
        .p1__ID{
            font-size:18px;
            color:#555;
        }       
        @media screen and (max-width: 900px){
            #page__ID{
                padding:10px 10px;
            }       
        }
    </style>
</div>
