<div id=D__ID>
    <section id=form_container__ID>
    	<div id=header__ID>
    		Form
		</div>
		<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
		<form id=F__ID action="https://prod-27.australiasoutheast.logic.azure.com:443/workflows/8559b2cb1ce34eeb8869319eca20a5c8/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=_CVnTH4Qgs8Gv8mDeoy6BRPpsnabZAT7X0H90ucEZGE" method="post" target="dummyframe" onsubmit="submitButton.disabled = true; alert('You have submitted the form')">
			<div class="container">
				<div class="row row__ID">
					<div class=col>
						<span>First Name</span>
						<input type="text" class="form-control" name=First_Name />
					</div>
				</div>
				<div class="row row__ID">
					<div class=col>
						<span>Last Name</span>
						<input type="text" class="form-control" name=Last_Name />
					</div>
				</div>
				<br>
				<div class="row">
					<div class=col>
						<button id=submitButton type="submit" class="btn btn-secondary">Submit</button>
					</div>
				</div>			
				<div class="row">
					<div class=col>
						<br><br>
						<br><br>
						vmiis20191112_1@yopmail.com <br>
						<a target=_blank href=http://yopmail.com/vmiis20191112_1>Check email</a>
					</div>
				</div>			
			</div>
		</form>
	</section>

<div style="max-width:1380px;margin:0 auto;">
	HTML Code:
	<pre style='background-color: #333;color:#fff'>
		&lt;form id=F__ID action="https://prod-27.australiasoutheast.logic.azure.com:443/workflows/8559b2cb1ce34eeb8869319eca20a5c8/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=_CVnTH4Qgs8Gv8mDeoy6BRPpsnabZAT7X0H90ucEZGE" method="post" onsubmit="submitButton.disabled = true; alert('You have submitted the form')">
			&lt;div class="container">
				&lt;div class="row row__ID">
					&lt;div class=col>
						&lt;span>First Name&lt;/span>
						&lt;input type="text" class="form-control" name=First_Name />
					&lt;/div>
				&lt;/div>
				&lt;div class="row row__ID">
					&lt;div class=col>
						&lt;span>Last Name&lt;/span>
						&lt;input type="text" class="form-control" name=Last_Name />
					&lt;/div>
				&lt;/div>
				&lt;br>
				&lt;div class="row">
					&lt;div class=col>
						&lt;button id=submitButton type="submit" class="btn btn-secondary">Submit&lt;/button>
					&lt;/div>
				&lt;/div>
			&lt;/div>
		&lt;/form>
	</pre>
	<b>From microsoft flow the form data can be easily send toSharePoint/Dynamics 365/Google Sheets/OneDrive and more third party service endpoints.</b>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>	

	<script>
    	function F__ID(){
    	}
    </script>
    <style>
        VmInclude:__COMPONENT__/f/form.01.css
        #form_container__ID{
            max-width:600px;
        }
		#F__ID{
			margin-bottom: 30px;
		}
    </style>
</div>
