<div id=D__ID>
    <section class=form_container__ID>
    	<div id=header__ID>
			<button id=Request__ID type="button" class="btn btn-secondary">Request</button>
			<button id=Approval__ID type="button" class="btn btn-secondary">Manager Approval</button>
			<button id=Process__ID type="button" class="btn btn-secondary">Request Process</button>
    	</div>
    	<form id=F2__ID class=fm__ID>
    		<div class="container">
				VmInclude:__CURRENT_PATH__/components/request-form.html
    		</div>
    	</form>
    	<form id=F3__ID class=fm__ID>
    		<div class="container">
				VmInclude:__CURRENT_PATH__/components/approval-form.html
    		</div>
    	</form>
    	<form id=F__ID class=fm__ID>
    		<div class="container">
				VmInclude:__CURRENT_PATH__/components/process-form.html
				<br>
				<div class="row">
					<div class="col c_print">
						<button id=submit__ID type="submit" class="btn btn-secondary">Submit</button>
					</div>
				</div>
    		</div>
    	</form>
    </section>
    VmInclude:__COMPONENT__/m/model.01.html
    <script>
    	function F__ID(){
			//F2: request
			//F3: approval
			//F:  process
    		//-------------------------------------
            VmInclude:__COMPONENT__/f/form.01.js
            VmInclude:__COMPONENT__/f/form-item-a.01.js
			//-------------------------------------
			$vm.set_list__ID(m);
            //-------------------------------------
			m.load=function(){
				$('#submit__ID').show();
				$('#F__ID')[0].reset();
				$('#F2__ID')[0].reset();
				$('#F3__ID')[0].reset();
				$('#msg_approval__ID').text('');
				$('#msg_process__ID').text('');
				if(m.input!=undefined && m.input.record!=undefined){
					//request -> F2 
					$vm.deserialize(m.input.record,'#F2__ID');
					m.request_record=m.input.record;

					//approval -> F3
					if(m.input.record.sys_approval!=undefined){
						$vm.deserialize_approval__ID(m.input.record.sys_approval,'#F3__ID');
					}
					
					//process -> F
					if(m.input.record.sys_process!=undefined){
						$vm.deserialize_process__ID(m.input.record.sys_process,'#F__ID');
					}
				}
				//default show request
				$('#F__ID').hide(); $('#F2__ID').show(); $('#F3__ID').hide();
				
				//replace the input request record with sys_approval, for update approval with correct rid
				m.input.record=m.input.record.sys_process
				
				//-------item a part
				m.item_a_records=[]; if(m.request_record!=undefined && m.request_record.Data.items!=undefined) m.item_a_records=m.request_record.Data.items;
				m.item_a_render();
                //-------
			}
			//-------------------------------------
			$('#Request__ID').on('click',function(){   $('#F__ID').hide(); $('#F2__ID').show(); $('#F3__ID').hide();  })
			$('#Approval__ID').on('click',function(){  $('#F__ID').hide(); $('#F2__ID').hide(); $('#F3__ID').show();  })
			$('#Process__ID').on('click',function(){   $('#F__ID').show(); $('#F2__ID').hide(); $('#F3__ID').hide();  })
			//-------------------------------------
			//process click
			$('#F__ID input[name=Processed]').on('click',function(){ 
				var txt="";
				if( $('#F__ID input[name=Processed]').prop('checked')==true ) txt="Processed by "+$vm.user_name+" on "+new Date().toLocaleDateString();
				$('#msg_process__ID').text(txt);
				$('#F__ID input[name=Processed_by]').val(txt);
			})
			//-------------------------------------
            m.before_submit=function(data,index){
				data.request_data=m.request_record.Data;
				index.I2=m.request_record.UID; //relation: reuest.UID
                index.P1=","+m.request_record.Data.Manager_for_Approval.split('|')[2]+","+m.request_record.Data.Processor.split('|')[2]+",";
                return true;
            }
            //--------------------------------------------------------
            m.after_insert=function(data,res){  after_submit(data); }
            m.after_update=function(data,res){  after_submit(data); }
            //--------------------------------------------------------
            var after_submit=function(data){
				//draft or going to send email
				$vm.refresh=1;
				m.change_status++;
                if(data.Processed=='on') $vm.load_module(m.email_to_requester,'',{record:{Data:m.request_record.Data}})
                else{
					$vm.refresh=1;
					m.change_status++;
					window.history.go(-1);
                }
            }
			//--------------------------------------------------------
			$vm.list_a__ID(m);
			$('#item_a_add__ID').hide();
			//--------------------------------------------------------
    	}
    </script>
    <style>
		VmInclude:__COMPONENT__/f/form.01.css
        VmInclude:__COMPONENT__/f/form-item-a.01.css
        .form_container__ID{
            max-width:820px;
		}
		#header__ID{
			background-color: #9da1a5;
		}
        .hr__ID{
            margin:6px 0;
            padding:0;
        }
        .bk__ID{
            background-color: #eee;
            padding:5px 6px;
            margin:0 15px;
        }
    </style>
</div>
