<div id=D__ID>
    <section class=form_container__ID>
    	<div id=header__ID>
			<button id=Request__ID type="button" class="btn btn-secondary">My Request</button>
			<button id=Approval__ID type="button" class="btn btn-secondary">Manager Approval</button>
			<button id=Process__ID type="button" class="btn btn-secondary">Request Process</button>
    	</div>
    	<form id=F__ID class=fm__ID>
    		<div class="container">
				VmInclude:__CURRENT_PATH__/components/request-form.html
				<br>
    			<div class="row">
    				<div class="col c_print">
                        <button id=submit0__ID type="submit" style='display:none'></button>
            			<button id=submit1__ID type="button" class="btn btn-secondary">Submit (draft)</button>
            			<button id=submit2__ID type="button" class="btn btn-secondary">Submit (completed, send alert email to the manager for approval</button>
    				</div>
    			</div>
    		</div>
    	</form>
    	<form id=F2__ID class=fm__ID>
    		<div class="container">
				VmInclude:__CURRENT_PATH__/components/approval-form.html
			</div>
    	</form>
    	<form id=F3__ID class=fm__ID>
    		<div class="container">
				VmInclude:__CURRENT_PATH__/components/process-form.html
    		</div>
    	</form>
    </section>
    VmInclude:__COMPONENT__/m/model.01.html
    <script>
    	function F__ID(){
			//F: request
			//F2:approval
			//F3:process
    		//-------------------------------------
            VmInclude:__COMPONENT__/f/form.01.js
            VmInclude:__COMPONENT__/f/form-item-a.01.js
			//-------------------------------------
			$vm.set_list__ID(m);
            //-------------------------------------
			m.load=function(){
				$('#submit1__ID').show(); $('#submit2__ID').show();
				$('#F__ID')[0].reset();
				$('#F2__ID')[0].reset();
				$('#F3__ID')[0].reset();
				$('#msg_approval__ID').text('');
				$('#msg_process__ID').text('');
				
				if(m.input!=undefined && m.input.record!=undefined){
					//request -> F 
					$vm.deserialize(m.input.record,'#F__ID');
					//approval -> F2
					if(m.input.record.sys_approval!=undefined){
						var a=$vm.deserialize_approval__ID(m.input.record.sys_approval,'#F2__ID');
						if(a==1){ $('#submit1__ID').hide(); $('#submit2__ID').hide(); }
					}
					//process -> F3
					if(m.input.record.sys_process!=undefined){
						var a=$vm.deserialize_process__ID(m.input.record.sys_process,'#F3__ID');
						if(a==1){ $('#submit1__ID').hide(); $('#submit2__ID').hide(); }
					}
				}
				//default show request
				$('#F__ID').show(); $('#F2__ID').hide(); $('#F3__ID').hide();

				//-------item a part
                m.item_a_records=[]; if(m.input.record!=undefined && m.input.record.Data.items!=undefined) m.item_a_records=m.input.record.Data.items;
                m.item_a_render();
                //-------
			}
			//-------------------------------------
			$('#Request__ID').on( 'click',function(){  $('#F__ID').show(); $('#F2__ID').hide(); $('#F3__ID').hide();  })
			$('#Approval__ID').on('click',function(){  $('#F__ID').hide(); $('#F2__ID').show(); $('#F3__ID').hide();  })
			$('#Process__ID').on( 'click',function(){  $('#F__ID').hide(); $('#F2__ID').hide(); $('#F3__ID').show();  })
			//-------------------------------------
            $('#submit1__ID').on('click',function(event){	$('#submit1__ID').hide(); $('#submit2__ID').hide(); m.draft=1;	$('#submit0__ID').trigger('click'); 	});
    		$('#submit2__ID').on('click',function(event){   $('#submit1__ID').hide(); $('#submit2__ID').hide(); m.draft=0;	$('#submit0__ID').trigger('click');		});
    		//--------------------------------------------------------
            m.after_insert=function(data,res){  after_submit(data); }
            m.after_update=function(data,res){  after_submit(data); }
            //--------------------------------------------------------
            m.before_submit=function(data,index){
                index.P1=","+data.Manager_for_Approval.split('|')[2]+","+data.Processor.split('|')[2]+",";
				index.I2=m.draft;
                data.items=m.item_a_get_data();
                return true;
            }
            //--------------------------------------------------------
            var after_submit=function(data){
				//draft or going to send email
				$vm.refresh=1;
				m.change_status++;
                if(m.draft==0) $vm.load_module(m.email_to_manager,'',{record:{Data:data}})
                else window.history.go(-1);
            }
			//--------------------------------------------------------
			$vm.list_a__ID(m);
			//--------------------------------------------------------
    	}
    </script>
    <style>
		VmInclude:__COMPONENT__/f/form.01.css
        VmInclude:__COMPONENT__/f/form-item-a.01.css
        .form_container__ID{
            max-width:820px;
		}
		#header__ID{
			background-color: #9da1a5;
		}
        .hr__ID{
            margin:6px 0;
            padding:0;
        }
        .bk__ID{
            background-color: #eee;
            padding:5px 6px;
            margin:0 15px;
        }
    </style>
</div>
