<div id=D__ID>
    <button id=json__ID type=button class="btn btn-secondary" style='margin:15px 0 0 15px'>JSON data</button>
	<h3 style='margin:15px 0 0 30px'>Sharepoint list items</h3>
    <div id=info__ID>
	</div>
	<script>
		function F__ID(){
            var D="";
            var m=$vm.module_list["__MODULE__"];
			$('#D__ID').on('load',function(){
                $('#info__ID').html('');
                var rid=m.input.rid;
                var g_id=""; if(m.input.group_id!=undefined) g_id=m.input.group_id;
                var g_sub=""; if(m.input.g_sub!=undefined) g_sub=m.input.g_sub;
				$vm.m365_graph("https://graph.microsoft.com/v1.0/"+g_id+"sites/"+m.input.site_id+"/drives/"+rid+"/root/children"+g_sub,{scopes: ["AllSites.Read"]},function(data){
                    D=data;
					var txt="<table>";
					txt+="<tr><th>id</th><th>createdDateTime</th><th>createdBy</th><th>Contents</th></tr>";
					for(i in data.value){
                        txt+="<tr>";
                        txt+="<td>"+data.value[i].id+"</td>";
                        txt+="<td>"+data.value[i].createdDateTime+"</td>";
                        txt+="<td>"+data.value[i].createdBy.user.displayName+"</td>";
                        
                        if(data.value[i].folder!=undefined){
                            txt+="<td><u i="+i+" style='cursor:pointer' nm="+data.value[i].name.replace('/ /g','%20')+">"+data.value[i].name+" ("+data.value[i].folder.childCount +")</u></td>";
                        }
                        
                        else if(data.value[i].file!=undefined){ 
                            txt+="<td><a target=_blank href="+data.value[i].webUrl+">"+data.value[i].name+"</a></td>";
                        }
                        
                        txt+="</tr>";
					}
					txt+="</table>"
					$('#info__ID').html(txt);
                    $('#D__ID u').on('click',function(){
                        var i=parseInt($(this).attr("i"));
                        var sub="/"+data.value[i].name+"/children";
						$vm.load_module('sharepoint-drive-document','',{rid:rid,group_id:g_id,site_id:m.input.site_id,g_sub:sub})
                    })
                })
            })
            //------------------------------------
            $('#json__ID').on('click',function(){
                $vm.show_json_data(D);
            })
            //------------------------------------
		}
	</script>
	<style>
		#D__ID{
			height:100%;
			animation: vm_module_fadein 1.0s;
			background-color: #fff;
		}
        #info__ID{
            padding:10px 0 0 30px;
        }
        #info__ID span{
            font-weight: bold;
        }
		#D__ID td{
			padding-right:20px;
		}
	</style>
</div>