<div id=D__ID>
	<div id=page__ID class=home_page_1>
		<div class="container-fluid" style='max-width:960px'>
			<div class="text-center panel__ID" style='color:#fff'>
				<br>
				<h2>Tom Li</h2>
                <h6>IT Support Professional</h6>
				<hr style='border-top:1px solid #f05f40;'></hr>
				<p>Monitor and maintain the computer systems and networks of an organisation.</p>
				<p>
					<br><br>
					<a id=get_in__ID class='btn btn-success' style='color:#fff' >Dashboard</a>
				</p>
				<br>
			</div>
			<br><br>
			<br><br>
			<br><br>
		</div>
		<div style='text-align: center;color:#fff;position:absolute;bottom:10px;font-size:150%;width:100%;'>
			<div id=scroll_down__ID style='display:inline-block;padding:10px 20px;cursor:pointer'>
				<i class="fas fa-angle-double-down"></i>
				<br>Scroll
			</div>
		</div>
	</div>
	<div id=page2__ID class=home_page_1 style='background-color: #fff;font-size:13px; min-height:600px;padding-top:60px;'>
		<div style='max-width:900px;margin-left:auto;margin-right:auto'>
			<ul style='margin-bottom:0'>
				<li>Experienced IT administrator with 250 staff in Woolcock Institute of Medical Research; additionally, I have had past working experience of IT and medical device support for sleep and respiratory department in RPA hospital from 2001 to 2009.</li>
				<li>Experienced with extensive knowledge and support in Cloud Computing and common Operating Systems, such as PCs, laptops, tablets printers, iMac computers, help desk management</li>
				<li>Managing internal hardware, Amazon Web Services (AWS) - Cloud Computing Services, S3 storage, Virtualisation - VMware/Hyper, Windows Servers up to 2016, Active Directory, Deploy Software with PDQ Deploy, Web server, Microsoft SQL server, network technologies & services, backups, security & databases.</li>
				<li>Managing and updating Intranet, Room Booking system, CMS and E-Research Tools web Application.</li>
				<li>Good time management and organizational skills.</li>
				<li>Troubleshooting networks, servers, local area networks, etc.</li>
				<li>Providing services and troubleshooting for Wireless Microphone, Audio, lighting, Projector</li>
				<li>voice recording, video conferencing & control systems (AMX)and set up of Teleconference Equipment.</li>
				<li>Experience with Windows 7, Windows 10, Office 365.</li>
				<li>Diagnose and repair system faults on a variety of electronic products down to component levels.</li>
			</ul>
		</div>
	</div>


	<script>
		$('#get_in__ID').on('click',function(){
			$vm.load_module('dashboard','',{})
		})
		$('#scroll_down__ID').on('click',function(e){
			e.preventDefault();
    		$('html, body').animate({ scrollTop: $('#page2__ID').offset().top-100}, 800, 'linear');
		})
	</script>
	<style>
		#D__ID{
			height:100%;
	        overflow:auto;
			animation: vm_module_fadein 1.0s, D__ID 3s;
		}
		#page__ID{
			height:100%;
			display: flex;
			align-items: center;
		}
		.panel__ID{
			color:#fff;
			background: rgba(0, 0, 0, 0.0);
			border-radius: 25px;
			padding:10px 30px;
		}
		#page__ID h2{
			text-shadow: 2px 2px 2px #000;
		}
		@keyframes D__ID {
			from {padding-top: 300px;}
			to {padding-top: 0px;}
		}
	    @media screen and (max-width: 992px) {
	        #D__ID{
	            animation: vm_module_fadein 1.0s;
	        }
	    }
		#scroll_down__ID {
			color:#fff;
			animation:scroll__ID 8s;
			-moz-animation:scroll__ID 8s infinite; /* Firefox */
			-webkit-animation:scroll__ID 8s infinite; /* Safari and Chrome */
		}
    	@keyframes scroll__ID 
		{
			0%   {color:#fff;}
			50%  {color:#333;}
			100%   {color:#fff;}
		}
        @media screen and (max-width: 1200px) {
			#page__ID h1{
				font-size: 26px;
			}
		}

	</style>
	<script>
		function F__ID(){
			$vm['home_ready']=1;
		}
	</script>
</div>
