<section>
    VmInclude:__COMPONENT__/g/grid.01.html
</section>
<script>
    function F__ID(){
        //-------------------------------------
        VmInclude:__COMPONENT__/g/grid.01.js
        //-------------------------------------
        var fields="First_Name,Last_Name,File_1,File_2";
        m.fields="_Form,"+fields+",Submit_date,Submitted_by,_Delete";
        //-------------------------------------
        m.cell_render=function(records,I,field,td){
            switch(field){
                case 'File_1':
                case 'File_2':
                    if(records[I].Data[field] !=undefined) m.set_file_link_s0(records,I,field,td);
                    break;
            }
        }
        //-------------------------------------
    }
</script>
<style>
    VmInclude:__COMPONENT__/g/grid.01.css
</style>
