<div id=D__ID>
    <section id=form_container__ID>
    	<div id=header__ID>
    		Dynamics Entity (Name:Demo-01)
    	</div>
    	<form id=F__ID>
    		<div class="container">
    			<div class="row row__ID">
    				<div class=col>
    					<span>First Name</span>
    					<input type="text" class="form-control" name=it_firstname />
    				</div>
    			</div>
    			<div class="row row__ID">
    				<div class=col>
    					<span>Last Name</span>
    					<input type="text" class="form-control" name=it_lastname />
    				</div>
    			</div>
    			<br>
    			<div class="row">
    				<div class=col>
    					<button id=submit__ID type="submit" class="btn btn-secondary">Submit</button>
    				</div>
    			</div>
    		</div>
    	</form>
    </section>
    <script>
    	function F__ID(){
    		//-------------------------------------
            VmInclude:__COMPONENT__/f/form.365r.02.js
			//-------------------------------------
			var scope=["https://woolcockdev.crm6.dynamics.com/.default"];
			m.add_record=function(data){
				var endpoint=m.Table;
				$vm.m365_msal.acquireTokenSilent({scopes:scope}).then(function (tokenResponse) {
                    m.ajax_add(endpoint,data,tokenResponse,function(){
						m.change_status++;
                		window.history.go(-1);
                    })
                }).catch(function (error) {
                    console.log(error);
                    $vm.alert("You haven't signed in, or your previous session has expired.")
                });
			}
			//-------------------------------------
			m.modify_record=function(id,data){
				var endpoint=m.Table+"("+id+")";
				$vm.m365_msal.acquireTokenSilent({scopes:scope}).then(function (tokenResponse) {
                    m.ajax_modify(endpoint,data,tokenResponse,function(){
						m.change_status++;
                		window.history.go(-1);
                    })
                }).catch(function (error) {
                    console.log(error);
                    $vm.alert("You haven't signed in, or your previous session has expired.")
                });
			}
			//-------------------------------------
    	}
    </script>
    <style>
        #form_container__ID{
            max-width:600px;
        }
        VmInclude:__COMPONENT__/f/form.01.css
    </style>
</div>
