<div id=D__ID>
    <div>
        <section>
            <div id=toolbar__ID class="navbar navbar-default">
                <div id=row_1__ID>
                        <button id=info__ID type=button class='btn btn-secondary' title='Add new' style='display:none'><i class="fa fa-info"></i></button>
                        <button id=new__ID  type=button class='btn btn-secondary' title='Add new'><i class="fa fa-plus"></i></button>
                        
                        <input id=keyword__ID type="text" placeholder="Name contains" class="form-control">
                        <button id=query__ID type=button class="btn btn-secondary" title='Refresh'><i class="fas fa-redo-alt"></i></button>
                </div>
                <span id=title__ID class='d-none d-md-block'></span>
                <div>
                        Page Size:
                        <select id=page_size__ID class="form-control" style='margin-right:20px;display:inline-block;width:auto;'><option>30</option><option>50</option><option>100</option><option>200</option></select>
                        <span id=I__ID style="display:none">0</span><span id=A__ID ></span> <span id=B__ID></span>
                        <button id=p__ID type=button class="btn btn-secondary" title="Previous page"><i class="fa fa-arrow-left"></i></button>
                        <button id=n__ID type=button class="btn btn-secondary" title="Next page"><i class="fa fa-arrow-right"></i></button>
                </div>
                <div id=import_export_section__ID class="d-none d-sm-block">
                        <!--<button id=export__ID type=button class="btn btn-secondary" title=Export><i class="fa fa-download" ></i></button>-->
                </div>
                <span id=elapsed__ID style='float:right'></span>
            </div>
            <div id=table__ID>
                <table id=grid__ID></table>
            </div>
        </section>
        <style>
            #toolbar__ID{
                background-color:#ccc;
                padding:5px 10px;
                margin-bottom:0px;
                overflow:hidden
            }
            #toolbar__ID *{
                margin-right:3px;
            }
            #keyword__ID{
                width: 150px; 
                display:inline-block;
            }
            @media screen and (max-width:768px){
                #toolbar__ID{
                    padding: 3px 0;
                }
                #toolbar__ID div{
                    padding-left:3px;
                }
                #row_1__ID{
                    padding-bottom: 3px;
                    width:100%;
                }
                #keyword__ID{
                    width:auto;
                }
            }
        </style>
    </div>
    <script>
        function F__ID(){
            //-------------------------------------
            VmInclude:__COMPONENT__/g/grid.365r.01.js
            $('#new__ID').hide();
            //-------------------------------------
            var create_fields=function(s){
                var f="";
                ss=s.split(',');
                for(var i=0;i<ss.length;i++){
                    if(f!="") f+=","
                    var a=ss[i].trim();
                    var b=ss[i].trim().replace(/ /g,'').replace(/\//g,'_x002f_').replace(/–/g,'_x2013_').replace(/\(/g,'_x2028_').replace(/\)/g,'_x2029_');
                    if(b.length>32) b=b.substring(0,32);
                    f+=a+"|"+b;
                }
                return f;
            }
            //-------------------------------------
            var fields="\
					Name|woolcock_name,\
                    Status|woolcock_volunteerstatus,\
                    Registration Type|woolcock_registrationtype,\
                    Study\
				";
            var fields_hide="\
                ";
            m.ids=(fields+","+fields_hide).split(',');                
            m.fields="_Form,"+fields+",Submit_date,Submitted_by";//,Last_modified_date,Last_modified_by";
            //-------------------------------------
            m.cell_render=function(records,I,field,td){
                switch(field){
                    case 'woolcock_registrationtype':
                        var txt="";
                            switch(records[I].Data[field]){
                                case 1: txt="Study Specific Registration";break;
                                case 0: txt="General Registration";break;
                                case 2: txt="Newsletter";break;
                            }
                        td.html(txt);
                        break;
                    default:
                        var txt=records[I].Data[field];
                        td.attr('title',txt);
                        if(txt!=undefined && txt.toString().length>20){
                            txt=txt.substring(0,20)+"...";
                            td.html(txt);
                        } 
                        break;
                }
            }
            //-------------------------------------
            m.next_link=undefined;
            m.links=[];
            //-------------------------------------
            m.set_req=function(){
                var limit=parseInt($('#page_size__ID').val()); m.odata_maxpagesize=limit;
                var txt=$('#keyword__ID').val();
                var $filter="";  if(txt!="") $filter="&$filter=contains(fullname,'"+txt+"')";
                
                var $select="&$select=";
                for(i in m.ids){
                    if($select!="&$select=") $select=$select+",";
                    $select=$select+m.ids[i].split('|').pop();
                }
                $select="";
                //m.endpoint=m.Table+"?$count=true"+$select+"&$expand=createdby($select=fullname),modifiedby($select=fullname)&$orderby=createdon desc"+$filter;
                m.endpoint=m.Table+"?$count=true"+$select+"&$expand=createdby($select=fullname),woolcock_StudyId($select=woolcock_name)&$orderby=createdon desc"+$filter;
                m.links=[m.endpoint];
            }
            //-------------------------------------
            
            m.data_process=function(res){
                $('#vm_data_loader').hide();
                m.next_link=res['@odata.nextLink'];
                m.records=[];
                for(var i=0;i<res.value.length;i++){
                    var fs=res.value[i];
                    var Data={}
                    //var f_ids=(fields+fields_hide).split(',')
                    var f_ids=(fields).split(',')
                    for(k in f_ids){
                        var id=f_ids[k].split('|').pop().trim();
                        //-------------------------------------
                        if(id=="Study"){
                            if(fs["woolcock_StudyId"]!=undefined){
                                Data[id]=fs["woolcock_StudyId"]["woolcock_name"];
                            }
                            else Data[id]="";
                        }
                        //-------------------------------------
                        else Data[id]=fs[id];
                        //if(Data[id].length>20) Data[id]=Data[id].substring(0,20)+"...";
                    }
                    var mb="";
                    var md="";
                    /*
                    if(res.value[i].modifiedon!=undefined){
                        md=res.value[i].modifiedon;
                        mb=res.value[i].modifiedby.fullname;
                    }
                    */
                    m.records.push({
                        "_id":res.value[i]['ID'],
                        "Submit_date":res.value[i].createdon,
                        "Submitted_by":res.value[i].createdby.fullname,
                        "Last_modified_date":md,
                        "Last_modified_by":mb,
                        Data:Data
                    })
                }
                m.render();
                var N=parseInt(res['@odata.count']);
                $("#B__ID").text(N)
                var L=m.links.length;
                var n1=((L-1)*parseInt(m.odata_maxpagesize)+1);
                var n2=L*parseInt(m.odata_maxpagesize);
                if(n2>N) n2=N;
                var txt=n1+" ~ "+n2+" of ";
                $("#A__ID").text(txt);
            }
            //-------------------------------------
            m.request_data=function(){
                console.log(m.links);
                //$('#vm_data_loader').show();
                $vm.m365_msal.acquireTokenSilent({scopes: ["https://woolcockdev.crm6.dynamics.com/.default"]}).then(function (tokenResponse) {
                    m.ajax(m.endpoint,tokenResponse,function(data){
                        m.data_process(data);
                    })
                }).catch(function (error) {
                    $('#vm_data_loader').hide();
                    console.log(error);
                    $vm.alert("You haven't signed in, or your previous session has expired.")
                });
            }
            //-------------------------------------
            $("#p__ID").off('click').on('click',function(){
                m.links.pop();
                var lk=m.links.pop();
                if(lk!=undefined){
                    m.endpoint=lk;
                    m.links.push(m.endpoint);
                    m.request_data();
                }
                else{
                    m.set_req();
                    m.request_data();
                }
            })
            //-------------------------------------
            $("#n__ID").off('click').on('click',function(){
                if(m.next_link!=undefined){
                    m.endpoint=m.next_link;
                    m.links.push(m.endpoint);
                    m.request_data();
                }
            })
            //-------------------------------------
            m.delete=function(rid){
                $vm.m365_msal.acquireTokenSilent($vm.m365_scope_sharepoint).then(function (tokenResponse) {
                    var mt1=new Date().getTime();
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.onreadystatechange = function () {
                        if (this.readyState == 4 && (this.status == 204 || this.status == 200)){
                            var mt2=new Date().getTime();
                            var tt_all=mt2-mt1;
                            m.request_data();
                        }
                    }
                    xmlHttp.open("DELETE", m.endpoint_d+"("+rid+")", true); // true for asynchronous
                    xmlHttp.setRequestHeader('Authorization', 'Bearer ' + tokenResponse.accessToken);
                    xmlHttp.setRequestHeader("Accept", "application/json");  
                    xmlHttp.setRequestHeader("Content-Type", "application/json; charset=utf-8");  
                    xmlHttp.setRequestHeader("IF-MATCH", "*");  
                    xmlHttp.send();
                }).catch(function (error) {
                    console.log(error);
                });
            };
            //-------------------------------


        }
    </script>
    <style>
        VmInclude:__COMPONENT__/g/grid.01.css
    </style>
</div>
