<div id=D__ID>
    <section id=form_container__ID>
    	<div id=header__ID>
    		Form
    	</div>
    	<form id=F__ID>
    		<div class="container">
                <hr class=hr__ID>
    			<div class="row row__ID">
    				<div class=col>
						<span>Task Name</span>
    					<input type="text" name=Task_Name class=form-control />
    				</div>
    			</div>
                <hr class=hr__ID>
    			<div class="row row__ID">
    				<div class=col>
						<span>Task URL</span>
    					<input type="text" name=Task_URL class=form-control />
    				</div>
    			</div>
				<hr class=hr__ID>
    			<div class="row row__ID">
    				<div class=col>
						<span>Users (Allowed Triggering)</span>
    					<textarea name=Users class=form-control ></textarea>
    				</div>
    			</div>
				<hr class=hr__ID>
    			<br>
    			<div class="row">
    				<div class=col>
    					<button id=submit__ID type="submit" class="btn btn-secondary">Submit</button>
    				</div>
    			</div>
    		</div>
    	</form>
    </section>
    <script>
    	function F__ID(){
    		//-------------------------------------
            VmInclude:__COMPONENT__/f/form.01.js
    		//-------------------------------------
			m.before_submit=function(data,index){
				index.I1=data.Task_URL;
            }
            //-------------------------------------
    	}
    </script>
    <style>
        VmInclude:__COMPONENT__/f/form.01.css
        #form_container__ID{
            max-width:600px;
        }
        .hr__ID{
            margin:6px 0;
            padding:0;
        }
    </style>
</div>
