<div id=D__ID>
    <section id=form_container__ID>
    	<div id=header__ID>
    		Form
    	</div>
    	<form id=F__ID>
    		<div class="container">
                <hr class=hr__ID>
    			<div class="row row__ID">
    				<div class=col-md-4>
    					<span>Name</span>
    				</div>
    				<div class=col-md-8>
    					<select name=Name class=form-control >
						</select>
    				</div>
    			</div>
                <hr class=hr__ID>
    			<div class="row row__ID">
    				<div class=col-md-4>
    					<span>Gender</span>
    				</div>
    				<div class=col-md-8>
    					<select name=Gender class=form-control >
							<option></option>
							<option>Male</option>
							<option>Female</option>
							<option>Other</option>
						</select>
    				</div>
    			</div>
				<hr class=hr__ID>
    			<br>
    			<div class="row">
    				<div class=col>
    					<button id=submit__ID type="submit" class="btn btn-secondary">Submit</button>
    				</div>
    			</div>
    		</div>
    	</form>
    </section>
    <script>
    	function F__ID(){
	        /*-------------------------------------
            The form data can be submitted to a database, such as 
            Your own MySQL, SQL Server, MongoDB
            Microsoft Dynamics 365, SharePoint,
            Google Firebase
            etc.
            Here we use Wappsystem Cloud Database to store this form data. All detail code can be found on https://github.com/vmiis/vm
            -------------------------------------*/
            VmInclude:__COMPONENT__/f/form.01.js
			//-------------------------------------
			var old_load=m.load;
			m.load=function(){
				$vm.request({cmd:'find',table:m.ListTb},function(res){
					var txt="<option></option>";
					for(i in res.result){
						var v=res.result[i].Data.First_Name+" "+res.result[i].Data.Last_Name;
						txt+="<option>"+v+"</option>";
					}
					$('select[name=Name]').html(txt);
					old_load();
				});
			}
			//-------------------------------------
    	}
    </script>
    <style>
        VmInclude:__COMPONENT__/f/form.01.css
        #form_container__ID{
            max-width:600px;
        }
        .hr__ID{
            margin:6px 0;
            padding:0;
        }
    </style>
</div>
