<div id=D__ID>
    <div id=panel__ID>
    	<div class='nav__ID'>
            <span>External Notes</span>
            <ul>
                <li><a href=?/task-1-data>Task 1</a></li>
                <li><a href=?/task-2-data>Task 2</a></li>
                <li><a href=?/notes-data>All notes</a></li>
            </ul>
            <span>Internal Notes</span>
            <ul>
                <li><a href=?/task-3-data>Task 3</a></li>
            </ul>
            <div style='max-width:600px; font-size:12px;padding-top:50px'>
                <hr>
                <span>Description:</span>
                <ul style='list-style-type: decimal'>
                    <li>External Notes: a separate module to handle a record notes. 
                        You can customize the notes module for complex application. 
                        In some applications such as in a clinical trial app, 
                        it is very useful to view all task notes in a central place </li>
                    <li>Internal Notes: a simple notes function</li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        function F__ID(){
            //--------------------------------------------------------
            $vm.module_list["__MODULE__"].show=function(){
                document.title="Dashboard | "+$vm.default_title;
                $("meta[name='description']").attr("content","Dashboard");
                //you can add more meta data for SEO
            }
            //--------------------------------------------------------
            var this_module=$vm.module_list[$vm.vm['__ID'].name];
            //--------------------------------------------------------
            $('#D__ID').on('load',function(){
                $('span.current_login__ID').text($vm.user_name);
            })
            //--------------------------------------------------------
            $('#panel__ID a').on('click',function(e){
                e.preventDefault();
                var href=$(this).attr('href');
                var app=$(this).attr('app');
                if(href!=undefined){
                    href=href.replace('?\/','');
                    href=href.replace(/\//g,'_');
                    if(app==undefined) $vm.load_module(href,'',{});
                    else if($vm.module_list[href]!=undefined) window.open($vm.module_list[href].url);
                    else alert("The '"+ href +"' is not defined in the module list");
                }
            })
            //--------------------------------------------------------
            $('#panel__ID a').each(function(){
                var href=$(this).attr('href');
                if(href!=undefined){
                    href=href.replace('?\/','');
                    href=href.replace(/\//g,'_');
                    if($vm.module_list[href]!=undefined){
                        var url=$vm.module_list[href].url;
                        $(this).attr('title',url);
                    }
                }
            })
            //--------------------------------------------------------
        }
    </script>
    <style>
        #D__ID{
    		background-color:#fff;
    		height:100%;
    		overflow: auto;
    		animation: vm_module_fadein 1.0s;
    	}
        #panel__ID{
    		padding:10px 0 0 20px;
            font-size:14px;
    	}
    	#panel__ID a {
    		text-decoration: none;
    	}
    	#panel__ID li {
    		color:#555;
    	}
    	#panel__ID a:link {
    		color:#555;
    	}
    	#panel__ID a:visited {
    		color:#555;
    	}
    	#panel__ID a:hover {
    		color:red;
    	}
    	#panel__ID a:active {
    		color:#555;
    	}
        .nav__ID{
	        padding:6px 26px 6px 6px;
	        float:left;
	    }
	    .nav__ID span{
			color:#283f55;
			font-weight: bold;
			margin:3px 10px;
	    }
    	@media screen and (max-width:768px){
    		#panel__ID{
    			padding:10px 0 0 10px;
    		}
    	}
    </style>
</div>
