<div id=D__ID>
    <div style='text-align: center;'>
        <hr style='max-width:1000px'>
        <b>BUSINESS PORTAL PTY LTD</b><br>
        Suite 10, Level 16, 100 Lake St, Sydney NSW 2000<br>
        <b>M:</b> +61 400 123 456<br>
        <b>P:</b> (02) 9123 4567<br>
        <b>F:</b> (02) 9123 6789<br>
        
        <a><i class="fa fa-linkedin"></i></a> <a><i class="fa fa-facebook"></i></a> <a><i class="fa fa-youtube"></i></div></a>

    </div>
    <script>
        //------------------------------------
        $vm.footer_ready=1;
        //------------------------------------
    </script>
    <style>
        #D__ID{
            overflow: hidden;
        }
        #footer a{
            font-size:150%;
            margin-right:10px;
        }
        #footer{
            color: #333;
            padding: 30px 0 40px 0;
            font-size:100%;
            text-align: center;
        }
        #footer .fa-stack-1x {
            color:white;
        }
        #footer .icon-facebook {
        color:#3b5998;
        }

        #footer .icon-twitter {
            color:#00aced;
        }

        #footer .icon-gplus{
            color:#dd4b39;
        }
        @media screen and (max-width: 1200px){
            #footer{ height:110px; }
        }
    </style>
</div>
