<div id=D__ID>
	<div id=page_1__ID class=home_page_1>
		<div class="panel__ID" >
			<p style='font-size:16px'> 
					The body mass index (BMI) or Quetelet index is a value derived from the mass (weight) 
					and height of an individual. The BMI is defined as the body mass divided by the square 
					of the body height, and is universally expressed in units of kg/m2, resulting from mass 
					in kilograms and height in metres. 
					Commonly accepted BMI ranges are underweight: under 18.5 kg/m2, normal weight: 18.5 to 25, 
					overweight: 25 to 30, obese: over 30. (from Wikipedia)
			</p>
			<p class=text-center>
				<a id=get_in__ID class='btn btn-success' >Start to measure yourself</a>
			</p>
		</div>
	</div>
	<div id=news__ID>
	</div>
	<script>
		$vm.load_component('health-news','news__ID',{})
		$('#D__ID').on('load',function(){
			$('#get_in__ID').on('click',function(){
				$vm.load_module("body-mass-index",'',{})
			})
		})
	</script>
	<style>
		#D__ID{
			height:100%;
			animation: vm_module_fadein 1.0s, D__ID 3s;
		}
		#page_1__ID{
			display: flex;
			align-items: center;
			color: #fff;
		    line-height: 1.1;
		}
		#page_1__ID h1{
		    font-size: 80px;
		    font-family: "Gaegu", cursive;
		}
		#demo__ID{
			padding:0 50px;
			background-color: #fff;
		}
        .panel__ID{
            color:#fff;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 25px;
            padding:30px 50px 20px 50px;
			margin:0 auto 130px auto;
			max-width:800px;
        }
		@keyframes D__ID {
			from {padding-top: 300px;}
			to {padding-top: 0px;}
		}
	    @media screen and (max-width: 992px) {
	        #D__ID{
	            animation: vm_module_fadein 1.0s;
	        }
	    }
	</style>
	<script>
		function F__ID(){
			$vm['home_ready']=1;
		}
	</script>
</div>
